/*
 * Comments are written as C++ style.
 */
html {
    overflow-y: scroll;
}

ul {
    list-style-type: none;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.duck{
   width:128px;
   height:128px;
   border: 1px solid black;
   background-image: url(../img/duck.jpg);
   background-size: 128px;
   position: absolute;
   top:20px;
   left:20px;
 }
#bulgaria{
    background-image:-webkit-linear-gradient(#fff 33%,#00966e 33%,#00966e 66%,#d62612 66%);
    background-image:-o-linear-gradient(#fff 33%,#00966e 33%,#00966e 66%,#d62612 66%);
    background-image:-moz-linear-gradient(#fff 33%,#00966e 33%,#00966e 66%,#d62612 66%);
    background-image:linear-gradient(#fff 33%,#00966e 33%,#00966e 66%,#d62612 66%);width:250px;height:150px
}
#finland{
    background-color:#fff;
    background-image:linear-gradient(transparent 54px,#003580 54px),linear-gradient(90deg,transparent 68px,#003580 68px);
    background-size:246px 96px,110px 150px;
    background-repeat:no-repeat;
    width:246px;
    height:150px
}
#greece{
    background-image:-webkit-linear-gradient(90deg,transparent 15%,#fff 15%,#fff 22.5%,transparent 22.5%),
    -webkit-linear-gradient(transparent 22%,#fff 22%,#fff 33%,transparent 33%),
    -webkit-linear-gradient(#0d5eaf 50%,#0d5eaf 50%),
    -webkit-linear-gradient(#0d5eaf 50%,#fff 50%);
    background-image:-o-linear-gradient(90deg,transparent 15%,#fff 15%,#fff 22.5%,transparent 22.5%),
    -o-linear-gradient(transparent 22%,#fff 22%,#fff 33%,transparent 33%),
    -o-linear-gradient(#0d5eaf 50%,#0d5eaf 50%),
    -o-linear-gradient(#0d5eaf 50%,#fff 50%);
    background-image:-moz-linear-gradient(90deg,transparent 15%,#fff 15%,#fff 22.5%,transparent 22.5%),
    -moz-linear-gradient(transparent 22%,#fff 22%,#fff 33%,transparent 33%),
    -moz-linear-gradient(#0d5eaf 50%,#0d5eaf 50%),
    -moz-linear-gradient(#0d5eaf 50%,#fff 50%);
    background-image:linear-gradient(90deg,transparent 15%,#fff 15%,#fff 22.5%,transparent 22.5%),
    linear-gradient(transparent 22%,#fff 22%,#fff 33%,transparent 33%),
    linear-gradient(#0d5eaf 50%,#0d5eaf 50%),
    linear-gradient(#0d5eaf 50%,#fff 50%);
    background-size:100% 55%,36.6% 100%,36.8% 55%,100% 22.2%;
    background-repeat:no-repeat,no-repeat,no-repeat,repeat;
    width:250px;
    height:150px}


body {
    margin: 8px auto;
    background: #E9967A;
    width: 700px;
}
li {
    margin-bottom: 10px;
    background-color: maroon;
    font-size: 150%;
    border-top: 3px solid maroon;
    border-bottom: 3px solid maroon;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
}

strong {
    background-color: maroon;
    color: white;
    padding: 0 8px;
    border-top: 3px solid maroon;
    border-bottom: 3px solid maroon;
    text-shadow: 2px 2px 1px black;
}
