/*
 * Comments are written as C++ style.
 */
html {
    overflow-y: scroll;
}

ul {
    list-style-type: none;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.duck{
   width:128px;
   height:128px;
   border: 1px solid black;
   background-image: url(../img/duck.jpg);
   background-size: 128px;
   position: absolute;
   top:20px;
   left:20px;
 }

body {
    margin: 8px auto;
    background: #E9967A;
    width: 700px;
}
li {
    margin-bottom: 10px;
    background-color: pink;
    font-size: 150%;
    border-top: 3px solid pink;
    border-bottom: 3px solid pink;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
}
