/*
 * Comments are written as C++ style.
 */
html {
    overflow-y: scroll;
}

.duck{
   width:128px;
   height:128px;
   border: 1px solid black;
   background-image: url(../img/duck.jpg);
   background-size: 128px;
   position: absolute;
   top:20px;
   left:20px;
 }

body {
    margin: 8px auto;
    background: #E9967A;
    width: 700px;
}
